/*#region accounts-list*/

.accounts-list {
    --border-radius: 5px;
    --color-scrolbar-track: #f1f1f1;
    --color-scrolbar-thumb: #a19e9e;

    display: flex;
    flex-direction: column;
    border: 1px solid var(--palette-border);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 5px 1px var(--palette-hover);
    max-width: 400px;
    min-width: 300px; 
    max-height: 70%;
    margin-right: 10px; 
    white-space: nowrap
}

.accounts-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--palette-dropdown-title);
    padding: 5px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    font-weight: bold;
}

.accounts-list-title .accounts-number {
    background-color: var(--color-scrolbar-thumb);
    color: var(--palette-text);
    padding: 5px;
    border-radius: 5px;
}

.accounts-list-filter {
    display: flex;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--palette-border);
    border-radius: var(--border-radius);
}

.accounts-list-filter svg {
    width: 1.4em;
    margin-right: 5px;
    fill: var(--palette-text-not-enable);
}

.accounts-list-filter input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
}

.accounts-list-filter input[type="text"]::placeholder {
    color: var(--colorPlaceholer, var(--palette-text-not-enable));
}

.accounts-list ul {
    height: 100%;
    list-style: none;
    overflow-y: auto;
}

.accounts-list ul::-webkit-scrollbar {
    width: 10px;       
    height: 10px;
}

.accounts-list ul::-webkit-scrollbar-track {
    background-color: var(--color-scrolbar-track);
}

.accounts-list ul::-webkit-scrollbar-thumb {
    background-color: var(--color-scrolbar-thumb);
    border-bottom-right-radius: var(--border-radius);
}

.accounts-list ul li {
    cursor: pointer;
    padding: 5px 5px;
}

.accounts-list ul li:hover {
    background-color: var(--palette-primary);
    color: var(--palette-text);
}

/*#endregion*/

hr {
    margin-bottom: 15px;
    border: none;
    border-top: 2px solid var(--palette-border);
}

.accounts-content {
    display: flex;
    height: 100%;
}

.accounts-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.accounts-details-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--palette-dropdown-title);
    height: 60%;
    border: 1px solid var(--palette-border);
    border-radius: 5px;
    font-size: 1.8em;
}

.accounts-details-title span {
    font-weight: 500;
}

.accounts-details-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accounts-details-info-header-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.accounts-details-info-header-not-avail {
    user-select: none;
    padding: 5px;
    border-radius: 5px;
    color: var(--palette-text);
    background-color: #db2828;
}

.accounts-details-info-header-avail {
    user-select: none;
    padding: 5px;
    border-radius: 5px;
    color: var(--palette-text);
    background-color: #21ba45;
}

.accounts-details-info-row {
    display: flex;
    margin: 10px;
}

.accounts-details-info-name {
    width: 30%;
    font-weight: bold;
}

.hidden {
    display: none;
}