.reports_content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.reports_grid_row {
    display: flex;
    margin-top: 20px;
}


/*#region reports_grid_element*/

.reports_grid_element {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    width: 25%;
}

.reports_grid_element:first-child {
    margin-left:  0;
}

.reports_grid_element:last-child {
    margin-right:  0;
}

/*#endregion*/


/*#region reports_account_info_element*/
 
.reports_account_info_element {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.reports_account_info_element_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10%;
}

.reports_account_info_element_title svg {
    width: 1em;
    fill: var(--palette-text-invert);
    margin-right: 5px;
}

/*#endregion*/

.report_spoilers {
    margin-top: 30px;
}


/*#region reports_spoiler_cbx*/

.reports_spoiler_cbx {
    position: absolute;
    z-index: -1;
    opacity: 0; 
}

.reports_spoiler_cbx+label:hover {
    border-color: var(--palette-border-focused);    
}

.reports_spoiler_cbx+label {
    display: block;
    padding: 10px 5px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    border: 1px solid var(--palette-border);
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

:not(.reports_spoiler_cbx:checked)+label {
    background-color: var(--palette-header);
}

.reports_spoiler_cbx:checked+label+.reports_spoiler_content {
    display: none;
    padding: 5px;
}

/*#endregion*/


/*#region reports_spoiler_row*/

.reports_spoiler_row {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.reports_spoiler_row:hover {
    background-color: var(--palette-secondary);
}

/*#endregion*/

.reports_spoiler_element_name {
    font-weight: bold;
    width: 100%;
}

.reports_spoiler_element_actions {
    display: flex;
}

.reports_spoiler_element_action {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.reports_spoiler_element_action_view {
    margin-right: 10px;
    background-color: var(--palette-primary);
    color: var(--palette-text);
}

.reports_spoiler_element_actions select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border: none;
    background-color: lightgrey;
}

.reports_spoiler_element_actions select:focus {
    outline: none;
}

/* CSS Mobile */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
{
    .reports_account_info {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .reports_account_info, .reports_filter {
        width: 100%;
    }

    .reports_account_info_element {
        margin-bottom: 5px;
        width: auto;
    }

    .reports_account_info_element_title {
        margin-bottom: 2%;
        font-size: 1em;
    }
}
