.reports_account_info {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
    justify-content: center;
}

.reports_account_info_element {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.reports_account_info_element_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10%;
}

.reports_account_info_element_title svg {
    width: 1em;
    fill: var(--palette-text-invert);
    margin-right: 5px;
}

/* CSS Mobile */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
{
    .reports_account_info {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .reports_account_info_element {
        margin-bottom: 5px;
    }

    .reports_account_info_element_title {
        margin-bottom: 2%;
        font-size: 1em;
    }
}
