:root {
    --palette-primary: #293594;
    --palette-primary--rgb: 41, 53, 148;
    --palette-secondary: #90bc29;
    --palette-secondary--rgb: 144, 188, 41;
    --palette-header: #0000000d;
    --palette-text: #f2f2f2;
    --palette-text--rgb: 242, 242, 242;
    --palette-border: lightgray;
    --palette-border-focused: #8db6c4;
    --palette-border-focused--rgb: 141, 182, 196;
    --palette-text-invert: #0d0d0d;
    --palette-text-invert--rgb: 13, 13, 13;
    --palette-hover: rgba(0, 0, 0, 0.2);
    --palette-active: rgba(0, 0, 0, 0.3);
    --palette-dropdown-title: #e0e1e2;
}

* {
    margin: 0;
    padding: 0;
}

.nowrap {
    white-space: nowrap;
}

/*#region Header*/

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--palette-primary);
    color: var(--palette-text);
    padding: 10px;
}

.header img {
    margin-right: 10px;
    fill: var(--palette-text);
    width: 2em;
}

.header h2 {
    font-size: 2em;
}

.header_right {
    display: flex;
    background-color: transparent;
    margin-left: auto;
}

.header_element {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 10px;
    margin-left: 1vw;
}

.header_element svg {
    width: 1.2em;
    fill: var(--palette-text);
}

.header_element span {
    display: flex;
    align-items: end;
    margin-left: 5px;
    color: var(--palette-text);
}

.header_element:hover {
    background-color: var(--palette-text);
    cursor: pointer;
}

.header_element:hover svg {
    fill: var(--palette-text-invert);
}

.header_element:hover span {
    color: var(--palette-text-invert);
}

/*#endregion*/

/*#region Subheader*/

.subheader {
    display: flex;
    flex-direction: row;
    background-color: var(--palette-header);
    padding: 5px;
    justify-content: center;
    font-size: 1.2em;
}

.subheader_elements {
    display: flex;
    flex-direction: row;
}

.subheader_element {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 20px;
}

.subheader_element span {
    color: var(--palette-text-invert);
}

.subheader_element svg {
    fill: var(--palette-text-invert);
}

.subheader_element:hover {
    background-color: var(--palette-text-invert);
}

.subheader_element:hover span {
    color: var(--palette-text);
}

.subheader_element:hover svg {
    fill: var(--palette-text);
}

/*#endregion*/

/*#region ElSyDropdown */

.elsy-dropdown_params-report-action {
/*Inputs*/
    --justify-content: center;                           /*justify-content титульной кнопки*/
    --padding-title: 5px 0px;                                  /*внутренние отступы для титульной кнопки*/      
    --padding-items: 5px;                                       /*внутренние отступы для пунктов*/      
    --font-size: 1rem;                                          /*размер шрифта */
    --arrow-size: 0.5rem;                                       /* размер стрелки */
    --background-title: var(--palette-dropdown-title);          /* цвет титульной кнопки */
    --background-list-items: #ffffff                    ;     /* цвет титульной кнопки */
    --border-radius: 5px;                                       /* округление углов элементов */
    --color-border: var(--palette-border);                      /* цвет рамки */
    --color-border-focused: var(--palette-border-focused);      /* цвет рамки в фокусе*/
    --color-hovered: var(--palette-text);                       /* цвет текста выделенных элементов */
    --color-icon-hovered: var(--palette-text);                  /* цвет заливки иконки при выделении элемента*/
    --background-hovered: var(--palette-primary);               /* цвет фона выделенных элементов */
    --background-scrollbar-track: #f1f1f1;                    /* фон скроллбара */
    --background-scrollbar-thumb: #ccc;                       /* цвет ползунка скроллбара */
    --icon-right-margin: 5px;                                   /* margin иконки элемента */
}

.elsy-dropdown_params-default {
/*Inputs*/
    --justify-content: space-between;                           /*justify-content титульной кнопки*/
    --padding-title: 5px;                                       /*внутренние отступы для титульной кнопки*/      
    --padding-items: 5px;                                       /*внутренние отступы для пунктов*/      
    --font-size: 1rem;                                          /*размер шрифта */
    --arrow-size: 0.5rem;                                       /* размер стрелки */
    --background-title: var(--palette-dropdown-title);          /* цвет титульной кнопки */
    --background-list-items: #ffffff;                         /* цвет титульной кнопки */
    --border-radius: 5px;                                       /* округление углов элементов */
    --color-border: var(--palette-border);                      /* цвет рамки */
    --color-border-focused: var(--palette-border-focused);      /* цвет рамки в фокусе*/
    --color-hovered: var(--palette-text);                       /* цвет текста выделенных элементов */
    --color-icon-hovered: var(--palette-text);                  /* цвет заливки иконки при выделении элемента*/ 
    --background-hovered: var(--palette-primary);               /* цвет фона выделенных элементов */
    --background-scrollbar-track: #f1f1f1;                    /* фон скроллбара */
    --background-scrollbar-thumb: #ccc;                       /* цвет ползунка скроллбара */
    --icon-right-margin: 5px;                                   /* margin иконки элемента */
}

.elsy-dropdown {
    display: inline-block;
    position: relative;
    font-size: var(--font-size);
    --font: font;
    --width: width;
}

.elsy-dropdown button {
    display: flex;
    align-items: center;
    justify-content: var(--justify-content);
    width: 100%;
    padding: var(--padding-title);
    border: 1px solid var(--palette-border);
    border-radius: var(--border-radius);
    background-color: var(--background-title);
    font: var(--font);
    cursor: pointer;
    user-select: none;
}

.elsy-dropdown .dropdown-arrow {
    margin-left: 10px;
    border-right: var(--arrow-size) solid transparent;
    border-left: var(--arrow-size) solid transparent;
    border-bottom: none;
    border-top: var(--arrow-size) solid black;
}

.elsy-dropdown ul {
    position: absolute;
    background-color: var(--background-list-items);
    width: calc((100%) - 2px);
    padding: 0;
    border: 1px solid var(--palette-border);
    border-radius: var(--border-radius);
    list-style: none;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    cursor: pointer;
}

.elsy-dropdown ul::-webkit-scrollbar {
    width: 10px;
}

.elsy-dropdown ul::-webkit-scrollbar-track {
    background: var(--background-scrollbar-track);
    border-bottom-right-radius: var(--border-radius);
}

.elsy-dropdown ul::-webkit-scrollbar-thumb {
    background: var(--background-scrollbar-thumb);
    border-bottom-right-radius: var(--border-radius);
}

.elsy-dropdown ul li {
    display: flex;
    align-items: center;
    padding: var(--padding-items);
}

.elsy-dropdown ul li:hover {
    background-color: var(--background-hovered);
    color: var(--color-hovered);
}

.elsy-dropdown ul li svg {
    margin-right: var(--icon-right-margin);
}

.elsy-dropdown ul li:hover svg {
    fill: var(--color-icon-hovered);
}

.dropdown-hidden {
    display: none;
}

/*#endregion*/

/*#region DatePicker*/

.daterangepicker_element {
    display: flex;
    align-items: center;
    background-color: var(--palette-dropdown-title);
    border: 1px solid var(--palette-border);
    border-radius: 5px;
    cursor: pointer;
}

.daterangepicker_element .daterangepicker_field {
    display: flex;
    align-items: center;
    width: 100%;
    user-select: none;
}

.daterangepicker_element .daterangepicker_element_icon {
    width: 1.7em;
    margin: 0 5px;
}

.daterangepicker_element .daterangepicker_element_refresh {
    display: flex;
    align-items: center;
    background-color: lightgray;
}

.daterangepicker_element .daterangepicker_element_refresh:hover {
    background-color: var(--palette-hover);
}

.daterangepicker_element .daterangepicker_element_refresh:active {
    background-color: var(--palette-active);
}

/*#endregion*/

/*#region CSSMobile*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
{
    .header h2 {
        font-size: 1.5em;
    }

    .subheader {
        font-size: 1em;
    }

    .subheader_element {
        margin: 0 auto;
    }
}

/*#endregion*/